# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# for visual studio
*.ilk
*.tlog
*.obj
*.sdf
*.idb
*.pdb
*.lib
*.aps
*.suo
*.opensdf
*.log
*.exp

!/3rdparty/protobuf_lib/*.lib
!/lib/poco_libs/*.lib
!/protocol/tools/ProtoGen_Net/*.pdb
/3rdparty/poco/bin
/3rdparty/poco/lib
obj/
bin/
ipch/
Debug/
Release/
/output/mud_client/*.exe
/output/mud_server/*.exe
bin64/
obj64/
bin32/
obj32/
/3rdparty/google/protobuf/vsprojects/debug_static_mt/*.lastbuildstate
/3rdparty/google/protobuf/vsprojects/x64/debug_static_md/*.lastbuildstate
