# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

// for visual studio
Debug
Release
*.ilk
*.tlog
*.obj
*.sdf
*.idb
*.pdb
*.lib
*.aps

!/3rdparty/protobuf_lib/*.lib